 * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  *:before,
  *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  body {
    margin: 0;
    padding: 0;
    font-family: "Microsoft JhengHei", Arial, "Helvetica Neue", Helvetica,sans-serif;
    font-size: 16px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #ffffff;
  }
  ul,ol,li { 
    list-style:none outside none; 
    padding: 0;
  }
  a {
    color: #333333;
    text-decoration: none;
  }
  a:hover,
  a:focus {
    color: #0066cc;
    text-decoration: none;
    outline: 0;
  }
  a:focus {
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
  }
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  h2 {
    font-size: 1.6em;
    margin:0 0 0.67em 0;
  }
  p{
    margin: 0 0 0.67em 0;
  }
  small {
    font-size: 80%;
  }
  img {
    max-width: 100%;
    border: 0;
    vertical-align: middle;
    transition: .3s ease-in;
  }
  hr {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    height: 0;
  }
  .fl{float: left;}
  .fr{float: right;}
  .clear{clear: both;}
  .text-center{text-align: center}
  .text-right{text-align: right}
  .text-blue{color: #0066cc}
  .text-greed{color: #009933}



  .row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -10px;
  }
  .col{
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
    flex-basis: 0;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    max-width: 100%;
  }
  .col-8 {
    flex: 0 0 66.666%;
    max-width: 66.666%;
  }
  .col-xs-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xs-2 {
    flex: 0 0 16.666%;
    max-width: 16.666%;
  }

@media (max-width: 767px){
  .col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
  @media (min-width: 767px){
    .col-md-7 {
      flex: 0 0 58%;
      max-width: 58%;
    }
    .col-md-5 {
      flex: 0 0 42%;
      max-width: 42%;
    }
  }
  










.main{
    position: relative;
    max-width: 1350px; 
    margin:0 auto;
    padding: 0 10px;
}
header{
    position: relative;
    height: 165px;
    padding: 35px 10px 25px 10px !important;
}
.menu-bar{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 80px; 
  height: 80px;
  border-radius: 2px;
  background: #828282;
  cursor: pointer;
}
.menu-bar span{
  display: block;
  position: absolute;
  left:15%;
  top: 25%;
  width: 70%;
  height: 8px;
  background: #fff;
  border-radius: 10px;
}
.menu-bar span:nth-child(2){
  top: 45%;
}
.menu-bar span:nth-child(3){
  top: 65%;
}
.logo{
  width: 320px;
}
@media (max-width:1080px) {
  .logo{
    width: 100%;
  }
}
.logo .menu-down{
  display: none
}
.logo-text{
  font-size: 22px;
  padding-top: 7px;
  display: inline-block;
  line-height: 1;
}
nav{
    position: absolute;
    z-index: 99;
    right: 0;
    bottom: 25px;
}
nav ul li{
    position: relative;
    float: left;
    margin: 0 5px;
}
nav ul li a{
    display: block;
    padding: 2px 10px;
    font-size: 20px;
    border-radius: 2px;
    color: #666;
}
nav ul li>a.router-link-exact-active, nav ul li>a.router-link-exact-active:focus
{
  background: #0066cc;
  color: #fff;
}
nav ul li a.cur{
    background: #0066cc;
    color: #fff;
    border-radius: 3px;
}
.menu-down{
    transition:all 0.2s linear;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 32px; 
    left: 10px;
    width: 180px;
    padding-top: 24px;
    padding-bottom: 15px;
    z-index: 99;
    background: rgba(255,255,255, .8);
    border-bottom:solid 2px #0066cc;
}
nav ul li:hover .menu-down{
    left: 0;
    opacity: 1;
    visibility:visible;
}
.menu-down a{
    display: block;
    padding: 5px 0;
    font-size: 20px;
    color: #111;
    text-align: center;
}
.menu-down a:hover{
  color: #0066cc;
}
.menu-down a:first-child{
    padding-top: 15px;
    border-top:solid 2px #0066cc;
}

@media (min-width:768px) {
  .visible-xs{display: none !important;}
}
@media (max-width:767px) {
  .visible-xs{display: block !important;}
  header{
    height: auto;
    min-height: 80px;
    padding: 6px 10px !important;
  }
  .menu-bar{
    display: block
  }
  .logo{
    width: 100%;
    max-width: 405px;
    padding-left: 80px;
  }
  .logo-text{
    margin-top: 0;
    display: none;
  }
  nav{
    display: none;
    right: auto;
    left: 0;
    top: 80px;
    bottom: auto;
    width: 320px;
    box-shadow: 5px 5px 15px rgba(0,0,0,.3); 
    background: rgba(255,255,255, .8);   
  }
  nav ul li {
    position: relative;
    float: none;
    margin: 0 5px;
    display: block;
  }
  nav ul li a{
    border-bottom: solid 1px #0066cc;
    padding: 8px 5px 8px 25px;
    border-radius: 0px;
  }
  nav ul li:last-child a{
    border-bottom: solid 0px #0066cc;
  }
  nav ul li .menu-down{
    position: relative;
    opacity: 1;
    visibility: visible;
    top: 0px;
    left: 0px;
    width: 100%;
    padding-top: 0px;
    padding-bottom: 0px;
    border-bottom: solid 0px #0066cc;
    background: transparent;
  }
  nav ul li .menu-down a{
    padding: 5px 5px 5px 45px;
    font-size: 20px;
    text-align: left;
    font-size: 16px;
    border-bottom: solid 0px #0066cc;
  }
  nav ul li .menu-down a:first-child {
    border-top: solid 0px #0066cc;
  }
  nav.cur{
    display: block
  }
}


.service-item{
  margin-bottom: 4rem;
}
.service-item a.img{
  overflow: hidden;
  display: block;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.8);
}
.service-item a img{
  transition: 1s ease-in;
}
.service-item a:hover img{
  transform: scale3d(1.2, 1.2, 1);
}
.service-item a.tel{
  font-size: 22px;
  color: #fff;
  background: #ff3366;
  border-radius: 2px;
  display: inline-block;
  padding: 2px 10px;
}
.service-item a.tel:hover{
  background: #f94e7f;
}
.service-item a.tel img{
  height: 17px;
  margin:-3px 5px 0 0;
}
@media (max-width: 767px){
  .service-item{
    margin-bottom: 1rem;
  }
  .service-item a.tel{
    font-size: 16px;
  }
  .service-item h2{
    margin: .5rem 0;
    text-align: center;
  }
  
}


.map{
  margin: 25px 0 50px 0;
  font-size: 20px;
  text-align: right
}
.map span{
  color: #0066cc;
}
.content{
  min-height: 300px;
  margin-bottom: 30px;
}
.content table tr td{
  vertical-align: top;
}
@media (max-width: 767px){
  .content table tr td{
    display: block;
    max-width: 100%;
  }
  
}





.toTop{
  display: none;
  position: fixed;
  bottom: 20px; right:15px;
  z-index: 99;
}

.footer{
  position: relative;
  line-height: 1.6;
  padding: 35px 0;
  color: #fff;
  background: url(../images/footer-bg.jpg) center;
  background-size: cover
}
.foot-contact{
  font-size: 18px;
}
.foot-text{
  font-size: 30px;
  padding-right: 100px;
  line-height: 1.4;
}
.foot-line{
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top:-55px;
}
.copyright{
  font-size: 15px;
  padding: 25px 10px;
}
.foot-nav{
  display: flex;
  position: fixed;
  z-index: 90;
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  bottom: 0;
  overflow: hidden;
}
.foot-nav a{
  display: block;
  width:33.333%;
  height: 88px;
  line-height: 88px;
  text-align: center;
  font-size: 40px;
  border-right:solid 5px #fff;
  background: #ff3366;
  color: #fff;
}
.foot-nav a img{
  margin:-8px 15px 0 0;
}
.foot-nav a:nth-child(2){
  background: #0066cc;
}
.foot-nav a:nth-child(3){
  background: #339900;
  border-right:solid 0px #fff;

}

@media (max-width: 767px){
  
  .toTop{
    bottom: 60px;
  }
  .footer{
    padding: 20px 0;
  }
  .foot-text{
    margin-top: 30px;
    font-size: 20px;
    padding-right: 0px;
    line-height: 1.6;
    text-align: center
  }
  .foot-line{
    position: absolute;
    right: 10px;
    top: 0px;
    margin-top:0px;
  }
  .copyright{
    padding: 25px 10px 60px 10px;
  }
  .foot-nav{
    left:0px;
  }
  .foot-nav a{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-right:solid 1px #fff;
  }
  .foot-nav a img{
    max-width: 38px;
    max-height: 32px;
    margin:-4px 5px 0 0;
  }
}

@media (max-width: 767px){
	
}